/* line 13, ../sass/_mixins.scss */
.pie-element {
  behavior: url("/claro-pe-tcf/static/web/js/PIE.htc");
  position: relative;
  -pie-watch-ancestors: 2;
}

/* ==========================
        Variables
   ========================== */
/* ==========================
         Font face
   ========================== */
@font-face {
  font-family: 'vevey';
  src: url("../font/vevey.eot");
  src: url("../font/vevey.eot?#iefix") format("embedded-opentype"), url("../font/vevey.woff") format("woff"), url("../font/vevey.ttf") format("truetype"), url("../font/vevey.svg#vevey") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
/* line 27, ../sass/common.scss */
html, button, input, select, textarea {
  color: #222;
}

/* line 31, ../sass/common.scss */
body {
  background: #adadad;
  font-size: 1em;
  line-height: 1.4;
  letter-spacing: 2px;
}

/* line 38, ../sass/common.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* line 47, ../sass/common.scss */
img {
  vertical-align: middle;
}

/* line 51, ../sass/common.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 57, ../sass/common.scss */
textarea {
  resize: vertical;
}

/* line 61, ../sass/common.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* line 68, ../sass/common.scss */
h1 {
  font-family: "vevey";
  font-size: 80px;
}

/* line 73, ../sass/common.scss */
h3 {
  font-family: "vevey";
  font-size: 30px;
}

/* line 77, ../sass/common.scss */
h4 {
  font-size: 20px;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

/* line 84, ../sass/common.scss */
a, a:active, a:link {
  color: #FFF;
  text-decoration: none;
}

/* line 88, ../sass/common.scss */
a:hover {
  color: #ff4900;
}

/* ==============
    Commons
   ============== */
/* line 95, ../sass/common.scss */
.vv {
  font-family: 'vevey';
  letter-spacing: 2px;
}

/* line 100, ../sass/common.scss */
.ls {
  letter-spacing: 2px;
}

/* ===== Initializr Styles ==================================================
   ========================================================================== */
/* line 107, ../sass/common.scss */
body {
  font: 16px "Times New Roman", Times, serif;
  line-height: 1.375em;
}

/* line 112, ../sass/common.scss */
#main {
  text-align: center;
  color: #FFFFFF;
  padding: 0 20px;
}

/* line 119, ../sass/common.scss */
.logo-h {
  background: url(../img/sprite.png) top center no-repeat;
  width: 373px;
  height: 97px;
  text-align: center;
  text-indent: 100%;
  overflow: hidden;
  margin: 0 auto;
}

/* line 130, ../sass/common.scss */
.vertical-bar {
  width: 6px;
  background: #FFF;
  height: 157px;
  margin: 0 auto;
}

/* ==============
    MOBILE: Menu
   ============== */
/* line 141, ../sass/common.scss */
nav ul {
  margin: 0;
  padding: 0;
}

/* line 145, ../sass/common.scss */
#navigator {
  width: 100%;
  bottom: 0;
  position: fixed;
  background: #000;
  /*height: 35px;*/
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 154, ../sass/common.scss */
#navigator li {
  display: inline-block;
  font: 17px "vevey";
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* line 162, ../sass/common.scss */
nav a {
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 10px 15px;
  transition: all 0.7s;
  -moz-transition: all 0.7s;
  /* Firefox 4 */
  -webkit-transition: all 0.7s;
  /* Safari and Chrome */
  -o-transition: all 0.7s;
  /* Opera */
}

/* line 173, ../sass/common.scss */
nav a:visited {
  color: #FFFFFF;
}

/* line 178, ../sass/common.scss */
nav a:hover {
  color: #ff4900;
}

/* line 183, ../sass/common.scss */
#navigator ul.social-links li a {
  font-size: 13px;
  border-left: 1px solid #686868;
  padding: 15px 10px 15px 20px;
  color: #686868;
}

/* line 192, ../sass/common.scss */
.left {
  float: left;
  margin-left: 15px;
}

/* line 197, ../sass/common.scss */
.right {
  float: right;
}

/* ==============
    MOBILE: Main
   ============== */
/* line 204, ../sass/common.scss */
body {
  background: url(../img/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 214, ../sass/common.scss */
#content {
  padding: 45px 0;
  /*width: 100%;
  min-width: 1000px;*/
  width: 1000px;
  margin: 0 auto;
}

/* ===============
    ALL: IE Fixes
   =============== */
/* line 225, ../sass/common.scss */
.ie7 .title {
  padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* line 233, ../sass/common.scss */
#content.page-gallery {
  min-width: 1000px;
  width: 100%;
  padding: 45px 0;
}

/* line 240, ../sass/common.scss */
.page-information h4 {
  font-weight: normal;
}

/* line 248, ../sass/common.scss */
.description aside {
  float: left;
  margin-right: 50px;
}

/* line 253, ../sass/common.scss */
.description article {
  margin-top: 30px;
  margin-left: 50px;
}

/* line 259, ../sass/common.scss */
.adress {
  font-size: 14px;
}
/* line 261, ../sass/common.scss */
.adress a {
  text-decoration: underline;
}

/* =====================================
        Information
 ======================================= */
/* line 269, ../sass/common.scss */
.information {
  margin-top: 70px;
}
/* line 273, ../sass/common.scss */
.information div {
  width: 45%;
  float: left;
  margin-left: 5%;
  text-align: left;
  font-size: 14px;
}
/* line 281, ../sass/common.scss */
.information article {
  text-align: left;
  font-size: 14px;
}
/* line 286, ../sass/common.scss */
.information aside {
  float: right;
  width: 45%;
}
/* line 290, ../sass/common.scss */
.information aside h4 {
  text-align: left;
}
/* line 293, ../sass/common.scss */
.information aside h5 {
  font-style: italic;
  font-size: 14px;
}
/* line 299, ../sass/common.scss */
.information aside .ico {
  background: url(../img/sprite.png) 0px 0px no-repeat;
  background-size: auto;
  width: 70px;
  height: 70px;
  display: inline-block;
  float: left;
  margin: 11px 22px 0 0;
}
/* line 308, ../sass/common.scss */
.information aside p {
  font-size: 12px;
  margin-top: -22px;
  margin-left: 92px;
}
/* line 313, ../sass/common.scss */
.information aside p a {
  font-size: 14px;
  text-decoration: underline;
}
/* line 320, ../sass/common.scss */
.information .item-1 .ico {
  background-position: 0px -533px;
}
/* line 321, ../sass/common.scss */
.information .item-2 .ico {
  background-position: 0px -605px;
}
/* line 322, ../sass/common.scss */
.information .item-3 .ico {
  background-position: 0px -675px;
}

/* =====================================
    Shop
 ======================================= */
/* line 330, ../sass/common.scss */
.page-shop h5 {
  font-size: 20px;
}
/* line 334, ../sass/common.scss */
.page-shop section {
  display: block;
  margin: 0px 0 20px 0;
  font-size: 16px;
}
/* line 340, ../sass/common.scss */
.page-shop aside {
  float: left;
  margin-right: 40px;
  vertical-align: center;
}
/* line 346, ../sass/common.scss */
.page-shop article {
  padding-top: 50px;
}
/* line 350, ../sass/common.scss */
.page-shop a {
  text-decoration: underline;
}
/* line 354, ../sass/common.scss */
.page-shop .small {
  font-size: 0.875em;
  /*14/16*/
}

/* =====================================
    Single-gallery
 ======================================= */
/* line 365, ../sass/common.scss */
#content.single-gallery {
  min-width: 1000px;
  width: 100%;
  padding: 0;
  margin: 0;
}

/* line 372, ../sass/common.scss */
.single-gallery img {
  width: 100%;
  height: auto;
}

/* line 377, ../sass/common.scss */
.nav-links {
  position: absolute;
  top: 50px;
  right: 50px;
}
/* line 382, ../sass/common.scss */
.nav-links span {
  display: inline-block;
  width: 42px;
  height: 52px;
}
/* line 387, ../sass/common.scss */
.nav-links a {
  background: url("../img/gallery-ico.png") top left no-repeat;
  display: block;
  width: 42px;
  height: 52px;
}
/* line 395, ../sass/common.scss */
.nav-links .close a {
  background: url("../img/gallery-ico.png") top center no-repeat;
}
/* line 398, ../sass/common.scss */
.nav-links .next a {
  background: url("../img/gallery-ico.png") top right no-repeat;
}

/* ==========================================================================
   Footer
   ========================================================================== */
/* line 408, ../sass/common.scss */
#footer {
  height: 100px;
  clear: both;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 480px) {
  /* ====================
      INTERMEDIATE: Menu
     ==================== */
  /* line 426, ../sass/common.scss */
  nav li:first-child a {
    margin-left: 0;
  }

  /* line 430, ../sass/common.scss */
  nav li:last-child a {
    margin-right: 0;
  }

  /* ========================
      INTERMEDIATE: IE Fixes
     ======================== */
  /* line 438, ../sass/common.scss */
  nav ul li {
    display: inline;
  }

  /* line 442, ../sass/common.scss */
  .oldie nav a {
    margin: 0 0.7%;
  }
}
@media only screen and (min-width: 768px) {
  /* ====================
      WIDE: CSS3 Effects
     ==================== */
  /* line 454, ../sass/common.scss */
  .header-container,
  .main aside {
    -webkit-box-shadow: 0 5px 10px #aaaaaa;
    -moz-box-shadow: 0 5px 10px #aaaaaa;
    box-shadow: 0 5px 10px #aaaaaa;
  }

  /* ============
      WIDE: Menu
     ============ */
  /* line 464, ../sass/common.scss */
  .title {
    float: left;
  }

  /* ============
      WIDE: Main
     ============ */
  /* line 476, ../sass/common.scss */
  .main article {
    float: left;
    width: 57%;
  }

  /* line 481, ../sass/common.scss */
  .main aside {
    float: right;
    width: 28%;
  }
}
@media only screen and (min-width: 1024px) {
  /* ===============
      Maximal Width
     =============== */
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
/* line 510, ../sass/common.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

/* line 517, ../sass/common.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/* line 524, ../sass/common.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 529, ../sass/common.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 541, ../sass/common.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 550, ../sass/common.scss */
.invisible {
  visibility: hidden;
}

/* line 555, ../sass/common.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 560, ../sass/common.scss */
.clearfix:after {
  clear: both;
}

/* line 564, ../sass/common.scss */
.clearfix {
  *zoom: 1;
}
