@import "mixins";
/* ==========================
        Variables
   ========================== */

$font-color: #FFFFFF;
$font-type: 'vevey';

/* ==========================
         Font face
   ========================== */

@font-face {
    font-family: 'vevey';
    src: url('../font/vevey.eot');
    src: url('../font/vevey.eot?#iefix') format('embedded-opentype'),
         url('../font/vevey.woff') format('woff'),
         url('../font/vevey.ttf') format('truetype'),
         url('../font/vevey.svg#vevey') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
html, button, input, select, textarea {
    color: #222;
}

body {
    background: #adadad;
    font-size: 1em;
    line-height: 1.4;
    letter-spacing: 2px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

h1{
  font-family: "vevey";
  font-size: 80px;
}

h3{
  font-family: "vevey";
  font-size: 30px;
}
h4{
  font-size:20px;
  margin:0;
  padding: 0;
  font-weight: normal;
}

a, a:active, a:link {
  color: #FFF;
  text-decoration: none;
}
a:hover{
  color: #ff4900;
}
/* ==============
    Commons
   ============== */

.vv{
  font-family: 'vevey';
  letter-spacing: 2px;
}

.ls{
  letter-spacing: 2px;
}


/* ===== Initializr Styles ==================================================
   ========================================================================== */
body {
    font: 16px "Times New Roman", Times, serif;
    line-height: 1.375em;
}

#main{
  text-align: center;
  color: #FFFFFF;
  padding: 0 20px;

}

.logo-h{
  background: url(../img/sprite.png) top center no-repeat;
  width: 373px;
  height: 97px;
  text-align: center;
  text-indent: 100%;
  overflow: hidden;
  margin: 0 auto;
}
.logo-v{}

.vertical-bar{
  width: 6px;
  background: #FFF;
  height: 157px;
  margin: 0 auto;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
}
#navigator {
  width: 100%;
  bottom: 0;
  position: fixed;
  background: #000;
  /*height: 35px;*/
  padding-top:10px;
  padding-bottom:10px;

 li{
    display: inline-block;
    font: 17px "vevey";
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}

nav a {
  color: #FFFFFF;
  text-transform: uppercase;
  padding:10px 15px;

}

nav a:visited {
    color: #FFFFFF;

}

nav a:hover {
   color: #ff4900;
}


#navigator ul.social-links li a{
  font-size: 13px;
  border-left: 1px solid #686868;
  padding: 15px 10px 15px 20px;
  color:#686868;

}


.left{
  float: left;
  margin-left: 15px;
}

.right{
  float: right;
}

/* ==============
    MOBILE: Main
   ============== */
body{
  background: url(../img/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#main {

}
#content{
  padding: 45px 0;
  /*width: 100%;
  min-width: 1000px;*/
  width: 1000px;
  margin: 0 auto;
}
/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#content.page-gallery{
  min-width: 1000px;
  width: 100%;
  padding: 45px 0;
} 

.page-information{
  h4{
    font-weight: normal
  }

}


.description {}
.description aside{
  float:left;
  margin-right: 50px;
}

.description article{
  margin-top: 30px;
  margin-left: 50px
}


.adress{
  font-size: 14px;
  a{  
    text-decoration: underline;
  }
}

/* =====================================
        Information
 ======================================= */
.information{
  margin-top: 70px;
  

  div{
    width: 45%;
    float: left;
    margin-left: 5%;
    text-align: left;
    font-size: 14px;
  }

  article{
    text-align: left;
    font-size: 14px;
  }

  aside{
    float: right;
    width: 45%;
  
    h4{
      text-align: left;
    }
    h5{
      font-style: italic;
      font-size: 14px;
    }


    .ico{
      background: url(../img/sprite.png) 0px 0px no-repeat;
      background-size: auto;
      width: 70px;
      height: 70px;
      display: inline-block;
      float:left;
      margin:11px 22px 0 0;
    }
    p{
      font-size: 12px;
      margin-top: -22px;
      margin-left: 92px;

      a{
        font-size: 14px;
        text-decoration: underline;
      }
    }
  }

  .item-1 .ico{ background-position: 0px -533px; }
  .item-2 .ico{ background-position: 0px -605px; }
  .item-3 .ico{ background-position: 0px -675px; }
}

/* =====================================
    Shop
 ======================================= */

.page-shop{
  h5{
    font-size: 20px;
  }

  section{
    display: block;
    margin: 0px 0 20px 0;
    font-size: 16px;
  }

  aside{
    float:left;
    margin-right: 40px;
    vertical-align: center;
  }

  article{
    padding-top: 50px;
  }

  a{
    text-decoration: underline;
  }

  .small{
    font-size:0.875em; /*14/16*/
  }

}


/* =====================================
    Single-gallery
 ======================================= */

 #content.single-gallery{
  min-width: 1000px;
  width: 100%;
  padding: 0;
  margin: 0;
 }

 .single-gallery img{
    width:100%;
    height: auto;
 }

 .nav-links{
  position: absolute;
  top:50px;
  right: 50px;

  span{
    display: inline-block;
    width: 42px;
    height: 52px;
  }
  a{

    background: url("../img/gallery-ico.png") top left no-repeat;
    display: block;
    width: 42px;
    height: 52px;

  }
  .close a {
    background: url("../img/gallery-ico.png") top center no-repeat;
  }
  .next a{
     background: url("../img/gallery-ico.png") top right no-repeat;
  }
 }



/* ==========================================================================
   Footer
   ========================================================================== */
#footer{
  height: 100px;
  clear:both;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {

    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {

    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
}

@media only screen and (min-width: 1024px) {

/* ===============
    Maximal Width
   =============== */
   #content{

   }
   #main{

   }

    .wrapper {

    }
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
