@import "mixins";

/*================================
    Font Face
=================================*/

@font-face {
  font-family: Icons;
  src: url('../font/diy-regular.eot?24&domain=diy.org');
  src: url('../font/diy-regular.eot?24&domain=diy.org#iefix') format('embedded-opentype'),
       url('../font/diy-regular.ttf?24&domain=diy.org') format('truetype'),
       url('../font/diy-regular.woff?24&domain=diy.org') format('woff'),
       url('../font/diy-regular.svg?24&domain=diy.org#diyregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*==============================*/
.hexagon {
    overflow: hidden;
    visibility: hidden;
    -webkit-transform: rotate(120deg);
       -moz-transform: rotate(120deg);
         -o-transform: rotate(120deg);
            transform: rotate(120deg);
    cursor: pointer;
    }
.hexagon-in1 {
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform: rotate(-60deg);
       -moz-transform: rotate(-60deg);
         -o-transform: rotate(-60deg);
            transform: rotate(-60deg);
    }
.hexagon-in2 {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 230px 230px;
    cursor:url(../img/zoom-ico.png),auto;

    visibility: visible;
    -webkit-transform: rotate(-60deg);
       -moz-transform: rotate(-60deg);
         -o-transform: rotate(-60deg);
            transform: rotate(-60deg);

    transition: all .6s;
    -moz-transition: all .6s; /* Firefox 4 */
    -webkit-transition: all .6s; /* Safari and Chrome */
    -o-transition: all .6s; /* Opera */


}
.hexagon-in2:hover {
    /*-webkit-box-shadow: inset 230px 230px 230px 100px rgba(0, 0, 0, 0.5);
    box-shadow: inset 230px 230px 230px 100px rgba(0, 0, 0, 0.5);*/
    /*background: #000;*/
    @include box-shadow(rgba(black, 0.4) 230px 230px 100px inset);
}

.hexagon-in1 a:hover {
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.75);
  -moz-box-shadow:    0px 0px 30px rgba(0, 0, 0, 0.75);
  box-shadow:         0px 0px 30px rgba(0, 0, 0, 0.75);
}

.hex-hover{
    background: url(../img/sprite.png) -5px -750px no-repeat;
    position: relative;
    top: 45%;
    margin: 0 auto;
    width: 35px ;
    height: 35px;
    opacity: 0;
    display: none;
    transition: all 1s;
    -moz-transition: all 1s; /* Firefox 4 */
    -webkit-transition: all 1s; /* Safari and Chrome */
    -o-transition: all 1s; /* Opera */

}

.hexagon-in2:hover span{
    display: none;
}



/*.hexagon1 {
    width: 315px;
    height: 200px;
    margin: 0 0 0 -80px;

    display: inline-block;
    }*/

.hexagon1 {
    width: 15%;
    max-width: 200px;
    height: 315px;
    margin: -100px 2% 0 2%;
    display: inline-block;
    z-index: 1;
}


.hexa-font{
    font-family: Icons;
}
